
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link href="~/Content/assets/css/stylesheet.css" rel="stylesheet" />
<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<style>
    .login-title {
        padding: 20px 0px 28px 0px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #009688;
    }

    .login-body {
        width: 380px;
        height: 380px;
        background-color: #fff;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -190px;
        margin-left: -190px;
        border-radius: 3px;
        padding: 15px 22px;
        box-shadow: 0 0 10px #eee;
    }

    .login-item {
        margin-top: 20px;
        padding: 0px 10px;
        position: relative;
    }

        .login-item .layui-input {
            padding-left: 36px;
        }

        .login-item label {
            position: absolute;
            color: #ccc9c9;
            top: 1px;
            width: 38px;
            line-height: 36px;
            text-align: center;
        }
</style>

<div id="particles-js"></div>

<div class="login-body layui-form">
    <div class="login-title">
        登录
    </div>
    <div class="login-item">
        <label class="layui-icon layui-icon-username"></label>
        <input type="text" id="txtUserName" name="txtUserName" class="layui-input" placeholder="用户名" />
    </div>
    <div class="login-item">
        <label class="layui-icon layui-icon-password"></label>
        <input type="password" id="pwdUserPwd" name="pwdUserPwd" class="layui-input" placeholder="密码" />
    </div>
    <div class="login-item">
        <button id="btnUserLogin" type="submit" class="layui-btn layui-btn-fluid" onclick="func(event)">登  录</button>
    </div>

</div>

<script src="~/js/tether.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Content/layui/layui.js"></script>
<script src="~/Content/assets/js/jquery-3.1.1.min.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>
<script src="~/Content/assets/js/particles.min.js"></script>
<script src="~/Content/assets/js/app.js"></script>
<script>
    function func(event) {
        //防止页面提交并跳转
        event.preventDefault();
        $.ajax({
            url: "/Login/Login",
            type: "post",
            //关闭异步
            //async: false,
            data: { UserAccount: $("input[name='txtUserName']").val(), UserPass: $("input[name='pwdUserPwd']").val() },
            beforeSend: function () {
                $("#btnUserLogin").text('正在登录，请稍后……');
            },
            success: function (result) {
                if (result.result == 0) {
                    $("#btnUserLogin").text('登录成功，正在跳转页面……');
                    //跳转页面
                    location.href = result.url;
                }
                else if (result.result == 1) {
                    $("#btnUserLogin").text("登录失败");
                }
                else if (result.result == 2) {
                    $("#btnUserLogin").text("用户名或密码输入错误");
                }
            }
        });
    };
</script>