
@{
    Layout = null;
}

<div class="main">
    <div class="bg">
        <img src="/Img/bg.jpg" />
    </div>
    <div class="container">
        <div class="container-content">
            <form class="form-panel" method="post">
                <div class="logibbox">
                    <div class="form-head formmargin">
                        <h1 style="color:white">后台管理中心</h1>
                    </div>
                    <div class="form-content formmargin">
                        <div class="field">
                            <input type="text" minlength="2" class="input input-big" placeholder="请输入用户名" id="name" name="UserAccount" />
                        </div>
                        <div class="field">
                            <input type="password" maxlength="16" class="input input-big" id="password" name="UserPass" placeholder="登录密码" />
                        </div>
                    </div>
                    <div class="form-tail formmargin">
                        <input type="submit" class="button input-big" id="btnlogin" value="登录">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: -1;
    }

        .bg img {
            width: 1519px;
            height: 772px;
        }

    .login_div {
        background: #fff;
        margin: 160px 900px;
        height: 450px;
        width: 400px;
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        border: 1px solid rgb(255, 255, 255);
        background-color: #fff;
    }

    .login_child {
        width: 350px;
        margin-top: 100px;
        margin-left: 15px;
    }

    * {
        margin: 0;
        padding: 0;
        font: inherit;
        color: #333;
        vertical-align: baseline;
    }

        *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .clearfix:after, .container:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow: hidden;
    }

    .container-content {
        margin: 150px auto;
        width: 400px;
        position: relative;
    }

    .form-panel {
        /*// border: 1px solid ;*/
        border-radius: 4px;
        display: block;
    }

    .logibbox .formmargin {
        margin: 0 40px;
    }

    .form-panel .form-head {
        margin: 20px;
        padding-top: 20px;
        display: block;
        text-align: center;
        /*font-weight: bold;*/
        font-size: 24px;
    }

    .form-content {
        display: block;
        height: 230px;
    }

        .form-content .field {
            height: 33.33%;
            font-size: 14px;
            font: inherit;
            vertical-align: baseline;
        }

            .form-content .field .input {
                display: inline-block;
                width: 318px; /*294px  318px*/
                line-height: 1;
            }

            .form-content .field .inputs {
                display: inline-block;
                width: 218px; /*196px 218px*/
                line-height: 1;
            }

            .form-content .field .login_verifycode {
                float: right;
                margin-top: 1px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                width: 100px;
                height: 36px;
                padding-right: 0;
                padding-left: 0;
                /*border: 1px solid #d5d5d5;*/
                font-size: 14px;
                color: #727272;
                background: white;
                margin-left: -4px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

        .form-content .input-big,
        .form-tail .button {
            padding: 10px;
            font-size: 16px;
            line-height: 24px;
            border-radius: 10px;
            border: 1px solid #d5d5d5;
            box-sizing: border-box;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            outline: none;
        }

            .form-content .input-big,
            .form-tail .button:focus {
                border: 1px solid #afc2ec;
                color: #4b4b4b
            }

            .form-content .input-big,
            .form-tail .button[disabled] {
                border: 1px solid #d5d5d5;
                background: #fbfbfb;
                color: #9f9f9f;
                /*cursor:not-allowed*/
            }


    .validation-summary-errors li {
        height: 43px;
        line-height: 43px;
        width: auto;
        color: red;
        text-align: center;
        display: block;
    }


    .logibbox .formmargin .login_tips {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        text-align: center;
        color: red;
        box-shadow: none;
    }

    element.style {
        color: white;
        margin-top: 9px;
        font-size: 30px;
        margin-bottom: 48px;
    }

    .form-tail .button {
        display: block;
        width: 45%;
        margin-top: -70px;
        border: solid 1px #ddd;
        border-color: #0ae;
        border-radius: 4px;
        color: #fff;
        background-color: #0ae;
        cursor: pointer;
        margin-left: 60px;
    }

    element.style {
        color: white;
        margin-top: -30px;
        margin-bottom: 45px;
    }
</style>
